body {
    background: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: white;
    margin: 0 7.15%;
}

p {
    color: white;
    margin: 7.15%;
    color: hsl(215, 51%, 70%);
}

a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: hsl(178, 100%, 50%);
}

.img-lien {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 25px;
}
.img-view {
    position: absolute;
    width: 50px;
    height: 50px;
    padding: 125px;
    border-radius: 10px;
    background: rgba(0, 255, 247, 0.50);
    z-index: 2;
}
.img-carte:hover {
    z-index: 1;
}
.img-view:hover {
    z-index: 3;
}
.img-carte {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    z-index: 3;
}
.lien-view:hover {
    visibility: visible;
}
.carte {
    background: hsl(216, 50%, 16%);
    width: 350px;
    height: 600px;
    border-radius: 15px;
}

.eth {
    display: flex;
    justify-content: space-between;
    margin: 0 7.15%;
    padding-bottom: 7.15%;
    height: 1.5em;
    border-bottom: solid 1px rgba(255, 255, 255,0.1);
}
.eth-child {
    display: flex;
    align-items: center;
}
.eth-child h2 {
    font-size: 20px;
    color: hsl(178, 100%, 50%);
}
.eth-child p {
    width: 90px;
}

.eth-child img {
    margin: 5px;
}

.profile {
    margin: 0 7.15%;
    display: flex;
    align-items: center;
}
.profile img {
    width: 35px;
    height: auto;
    border: solid 1px white;
    border-radius: 50%;
}